#navbar-iframe{display:none;}*{padding:0;margin:0}
body#layout #feature  {display:none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body, .body-fauxcolumn-outer {line-height: 1;}
ul {list-style: none;}
.Feed ul {list-style: initial;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
:focus {outline: 0;}
ins  {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 1; }
td, th {
padding:5px;
}
body, .body-fauxcolumn-outer {background: #F3F3F3; font: normal 12px 'Open Sans', Trebuchet MS, Sans-serif; color: #666666;}
body p {padding-bottom: 20px; line-height: 2em;}
#container {overflow: hidden;
margin-left: auto;
margin-right: auto;
background-color: #fff;
margin: 0 auto;
color: #444;
font-family: Arial,sans-serif;
font-size: 14px;
font-weight: normal;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;;}
#content{width:712px;padding:20px 0px 10px 0px;float:left;display:inline; margin-top:-10px;}
#content-wide {clear: both; width: 1060px; padding: 10px 0px;}
#aside {display: inline; float: right; width: 336px; color: #ccc; padding: 10px 0px;}
#footer {clear: both; overflow: hidden; background: #dfdfdf; font-size: 12px;}
.shadow {}
.radius {-webkit-border-radius: 5px; -o-border-radius: 5px; -moz-border-radius:5px; border-radius: 5px;}
a {color:#464646; text-decoration: none;}
a:hover {color: #333;}
#header-wrapper {padding: 20px 0;}
#header {margin-top:-15px; float:none; }
#header h1 {
color:#FFF;
text-shadow:2px 2px 2px #666;
letter-spacing:-2px;
text-align:center;
}
#header a {
text-decoration:none;
color:#FFF;
}
#header a:hover {
text-decoration:none;
color: #fff;
text-shadow: 0px 0px 20px #000;
}
#header .description {
margin:-3px 5px 5px;
line-height: 1.4em;
color: #FFF;
font-size: 18px;
font-family: 'Open Sans', sans-serif;
}
.date-header{display:none;}
.post {padding: 10px;
color: #000;
overflow: hidden;
font-family:  Arial;
line-height: 2em;
margin-bottom: 10px;
margin: 10px;
}
.post-outer{
background: #fff;
border: 1px solid #e3e3e3;
font-family:  'Open Sans', sans-serif;
line-height: 2em;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 10px;
}
.post .post-text {padding-bottom: 5px; clear: both; overflow: hidden;}
.post h2.post-title { font-weight: bold;font-family: 'Open Sans', sans-serif;letter-spacing:-1px;}
.post h2 a { font-weight: bold;font-family: 'Open Sans', sans-serif;color: #353737; letter-spacing:-1px;}
.post h2 a:hover {color: #666;text-decoration: none;}
.post ul.post-meta {color: #6b6969; clear: both; border-top: 1px solid #222020; border-bottom: 1px solid #222020; overflow: hidden; font-size: 12px; font-style: italic; padding: 5px 0px; list-style: none;}
.post ul.post-meta li {padding-right: 20px; float: left;}
.post ul.post-meta a {color: #0b6e69;}
.post .post-comment {display: inline; background: url('http://1.bp.blogspot.com/_MkGBVwDEF84/TGedevmtX_I/AAAAAAAAEZY/I5fmryAKyP8/s1600/post_comment.jpg') no-repeat center; width: 33px; text-align: center; padding: 5px 0px 10px 0px; margin-top: 10px; float: right;}
.post h2, .post h3 {padding: 10px 0px; font-weight: normal; color: #666;font-size: 19px;}
.post h4, .post h5, .post h6 {padding: 10px 0px; font-size: 14px; font-weight: normal; color: #666;}
.post blockquote {display: block; margin: 20px; padding: 10px 30px;) no-repeat top left; color: #222;
background: #F9F9F9;font-size:1.2em;border-radius: 8px;border:1px solid #BFBFBF;}
.post blockquote i{font-style: none !important;}
.post blockquote h2, .post blockquote h3 {color:#000;}
.post blockquote a{color:blue;}
.left{padding:20px 25px 0px 0px;width:300px;float:right;}
.sidebar h2{padding: 10px;
color: #222222;
font-family: 'Open Sans',sans-serif;
font-size: 16px;
font-weight: bold;
line-height: 1.2em;
margin-bottom: 6px;
text-transform: uppercase;
border-bottom: 1px solid #D3D3D3;
}
.sidebar .widget{font-size: 12px;
color: #808080;
margin: 0px 0px 10px 0px;
padding-bottom: 10px;
overflow: hidden;
font-family: Verdana, 'Open Sans', sans-serif;}
.sidebar .widget-content {padding:10px;margin:0;font-size:12px;color:#808080;}
.sidebar ul {list-style-type: none;margin: 0 ;padding: 0;font-family: Verdana, 'Open Sans', sans-serif;}
.sidebar ul a {color:#333;}
.sidebar ul a:hover {color:#666666;}
.sidebar li{list-style-type: none;margin: 0 ;padding: 0;}
.sidebar ul li {height:100%;line-height:22px;float: left; clear: left;
list-style-type: none;overflow:hidden;color:#808080;}
.sidebar ul li  {text-decoration: none;padding: 0px 0px 0px 10px;display:block;
border-bottom:1px solid #f9f9f9;}
.sidebar a:link {color:#666666;}
.sidebar a:hover {color: #D14F00;}
/* COMMENT */
#comments{margin:10px;}
#comments h4 {font-size:16px;font-family:'Open Sans' sans-serif;color:#fff;text-shadow:-1px -1px 0px #858585;font-weight:bold;
padding:10px 10px ; padding-left:20px; margin-top:10px;background:#A0A0A0;}
#comments-block {line-height:1.6em;margin:1em 0 1.5em;color:#7F7D77;}
#comments-block .comment-author {background:#dfdfdf none repeat scroll 0 0;border:1px solid #eaeaea;margin:0.5em 0;padding-bottom:4px;padding-left:8px;padding-top:4px;font-weight:bold;}
#comments-block .comment-body {background:#fff; border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;margin-top:-8px;padding-left:10px;padding-top:10px;}
#comments-block .comment-footer {background:#fff;border-bottom:1px solid #e3e3e3;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;font-size:11px;line-height:1.4em;margin:-0.25em 0 2em;padding-bottom:5px;padding-left:10px;text-transform:none;}
#comments-block .comment-body p {margin:0;padding-bottom:15px;}
#comment-holder{padding: 10px 15px;}
.comments .comment-block, .comments .comment-thread.inline-thread .comment {
border: 1px solid #ddd;
background: #f9f9f9;
padding: 10px;
}
#comments h4, .comments .comment-header, .comments .comment-thread.inline-thread .comment {
position: relative;
}
.comments .comments-content .icon.blog-author {
position: absolute;
top: -12px;
right: -12px;
margin: 0;
background-image: url(http://lh6.ggpht.com/-GDMurKK2tec/T5JCD6hoKoI/AAAAAAAABAc/COHOItBlFWk/author.png);
width: 36px;
height: 36px;
}
.post-comment-link{float:right;}
.comments .comment-replybox-thread{margin-top: 5px;}
.comment-form{max-width:100%;}
/* Feeds*/
.blog-feeds{display:none;}
/* IMAGES */
img.centered {display: block; margin: auto;}
img.alignright {display: inline; margin: 0px 0px 10px 20px;}
img.alignleft {display: inline; margin: 0px 20px 10px 0px;}
.alignleft {float: left;}
.alignright {float: right;}
.post-footer-line-1{display:none;}
#comments-block .avatar-image-container img {
background: #fff url(http://3.bp.blogspot.com/-UMSMHaOBzQg/To2XKFseUSI/AAAAAAAACVU/vlvJki_9vqA/s1600/gravatar.png) no-repeat left top;
width:32px;
height:32px
}
p.footer-link{
clear: both;
text-align: center;
font-size: 11px;
padding: 12px;
overflow: hidden;
color: #F9F9F9;
background: #232627;
line-height: 18px;
}
.post-header{padding:10px 0;}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/background.jpg") repeat center center;
  opacity: .04;
}
@media only screen and (max-width:320px) {
body, p, h1, h2, h3, h4, h5, h6, span {font-size: 1em!important;}
#footer h2{font-size:1.5em!important;font-weight:bold;border-bottom:1px solid #ccc;display:block;margin: 0px auto; width:80%;text-align:center;}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
margin-top:40px;
}
.masthead h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  padding: 15px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}


.masthead {
    padding: 30px 0px 20px;
background-image: url(https://lh3.googleusercontent.com/-6dmtq6Km5bQ/WMg7reT0t-I/AAAAAAAABAc/mWk_iS3hbW4nNwVkO8bGmRGCvBZ5Bv2EgCLcB/s1600/slide1.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.navbar .widget {display: inline-block;}
.kanan, #LinkList1 {float:right;}

@media only screen and (max-width:980px) {
img{margin:0px auto!important; display:block;}
#LinkList1 {float:none;}
.navbar .widget {display: block;}
}
.thumbnail-post {
width:100px; 
height:100px; 
float:left; 
margin:0px 10px 0px 0px;
}
#footer h2 {font-size:22px;}
.sticky {
  position: fixed;
  z-index: 100;
  border-top: 0;
top: 30px;
margin-bottom :300px;
}
.table-header {
    background-color: #307ecc;
    color: #FFF;
    font-size: 14px;
    line-height: 38px;
    padding-left: 12px;
    margin-bottom: 1px;
}
@media only screen and (max-width:480px){
table{cursor:e-resize;}
}
#daftar2 {display:none;}
@media only screen and (max-width:320px){
#daftar2 {display:block!important;}
}
.post h1{font-size:20px;}

#about-logo h2{display:none;}
#about-logo img {max-height: 210px;width:auto;padding: 15px;margin-left: 45px;}
.center {text-align:center;}
.navbar-inverse .nav > li > a, .navbar-inverse .brand{color:#fff!important;}
.navbar-inverse .nav > li > a:hover {background:#fff;opacity:0.5;}
.light {color:#fff!important;}
.bg-hitam, #wrap-2 #service-1, #wrap-2 #service-2, #wrap-2 #service-3 {background: rgba(0,0,0,0.7);
padding: 15px;}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed; /* <-- Look here */
  right: 0;
  left: 0;
  z-index: 1030;
}
.info {position: fixed;bottom: 0px;left: 0px;width: 100%;text-align: center;margin: 0px auto;z-index: 99;background:#FF6600;color:#fff;padding:0.5em;}
.info a{color:#fff;}
#overlay {position: absolute;width: 94%;height: 100%;z-index: 99;top: 55px;left:15px;}
#Image3 h2{display:none;}
#Image3 img{max-width:150px;display:block;margin:0px auto;}
.lowerbar ul{list-style:initial;}
.lowerbar .Image img{margin: 0px auto;display: block;}
.lowerbar h2{text-align:center;}
thead th {
    background: #F2F2F2;
}
#home > b{background:#307ECC;display:block;text-align: center;padding:0.5em;color:#fff;border-radius:4px 4px;margin-bottom:-25px;}
.breadcrumb{margin-top:10px!important;}
.breadcrumb a,.post-info a {color:#19abea;}
.breadcrumb a:hover,.post-info a:hover {color:#454545;}
